<h1>Listing equipos</h1>

<table>
  <tr>
    <th>Evento</th>
    <th>Nombre</th>
    <th>Cliente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipos.each do |equipo| %>
  <tr>
    <td><%= equipo.evento_id %></td>
    <td><%= equipo.nombre %></td>
    <td><%= equipo.cliente_id %></td>
    <td><%= link_to 'Show', equipo %></td>
    <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
    <td><%= link_to 'Destroy', equipo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipo', new_equipo_path %>
